<div class="signin__container flex flex-col flex-center h-100">
    <div class="title-text flex flex-row flex-center">
        Welcome, create your school account
    </div>
    <div class="flex flex-row flex-center m-t-50">
        <div class="edutech-card inline-block">
            <span class="header-text">It is our great pleasure to have you on board! </span>

            <ng-container>
                <p-floatlabel variant="on" class="m-t-30">
                    <input pInputText id="schoolName" pSize="large" class="w-100" [(ngModel)]="value3"
                        autocomplete="off" />
                    <label for="schoolName">Enter the name of school</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="m-t-16">
                    <input pInputText id=" AdminName" pSize="large" class="w-100" [(ngModel)]="value3"
                        autocomplete="off" />
                    <label for="AdminName">Enter your name</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="m-t-16">
                    <input type="email" pInputText id="email" pSize="large" class="w-100" [(ngModel)]="value3"
                        autocomplete="off" />
                    <label for="email">Enter the email</label>
                </p-floatlabel>

                <p-floatlabel variant="on" class="m-t-16 w-100">
                    <p-password fluid inputId="password" inline=true feedback="true" [toggleMask]="true"
                        [(ngModel)]="password" />
                    <label for="password">Enter password</label>
                </p-floatlabel>

                <p-floatlabel variant="on" class="m-t-16 w-100">
                    <p-password fluid inputId="confirmPassword" [toggleMask]="true" [(ngModel)]="confirmPassword" />
                    <label for="confirmPassword">Confirm password</label>
                </p-floatlabel>
            </ng-container>

            <ng-container>
                <div class="m-t-30">
                    <p-button label="Sign in" type="submit" severity="info" styleClass="w-100" type="submit" />
                </div>
                <div class="text-align-center">
                    <span class="normal-text">Already have an account? </span>
                    <p-button label="Log in" variant="text" styleClass="fnt-12 p-l-0 next-btn" severity="info"
                        [link]="true" (onClick)="naviagte()" />
                </div>
            </ng-container>
        </div>
    </div>
</div>